@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
    font-size: 1rem;
    color: #404040;
    text-align: center;
}

h1{
    font-size: 2.25rem;
    font-weight: 300;
    color: white;
}

h2{
    font-size: 1.3125rem;
    margin: 0;
}

h2 + p{
    font-weight: 900;
    color: #f18119;
    margin-top: 0;
    text-transform: uppercase;
}



h1 + p{
    color: #f18119;
    font-weight: 900;
    font-size: 1.3125rem;
    text-transform: uppercase;
    margin: 0;
}

.top-text{
    color: #f18119;
    margin: 0;
    padding-top: 2px;
    font-weight: 900;
    font-size: 0.625rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    order: -1;
    border-top: 5px solid #f18119;
    border-image: linear-gradient(to left, #ff713b, #ffa51d) 1;

}

.fine-print{
    font-size: 0.625rem;
    letter-spacing: 1px;
}

strong{
    font-weight: 900;
}